@charset "UTF-8";
* {box-sizing:border-box}

.art-box{
	width:120px;
	height:120px;
	position:relative;
	float:left;
	background-size:100%;
	opacity:.6;
	transition: .19s linear;
	-webkit-transition: .19s linear;
	transition-delay: .03s;
	-webkit-transition-delay: .03s;
	-moz-border-radius: 65px;
	border-radius: 65px;
	-webkit-border-radius: 65px;
	border: 5px #ffffff solid;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.65);
	margin:7px;
}
.art-box:hover{
	width:120px;
	height:120px;
	position:relative;
	float:left;
	background-size:100%;
	opacity:1;
	transition: .19s linear;
	-webkit-transition: .19s linear;
	transition-delay: .03s;
	-webkit-transition-delay: .03s; /* Safari */
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 5px #ffffff solid;
	-webkit-box-shadow:	-2px 5px 5px rgba(50, 50, 50, 0.38);
	-moz-box-shadow:	-2px 5px 5px rgba(50, 50, 50, 0.38);
	box-shadow:			-2px 5px 5px rgba(50, 50, 50, 0.38);
	margin:7px;
}
.art-box:active{
	width:120px;
	height:120px;
	position:relative;
	float:left;
	background-size:100%;
	opacity:1;
	transition: .19s linear;
	-webkit-transition: .19s linear;
	transition-delay: .03s;
	-webkit-transition-delay: .03s; /* Safari */
	-moz-border-radius: 7px;
	border-radius: 7px;
	-webkit-border-radius: 7px;
	border: 5px #ffffff solid;
	-webkit-box-shadow: 0px 1px 5px rgba(50, 50, 50, 0.65);
	-moz-box-shadow:    0px 1px 5px rgba(50, 50, 50, 0.65);
	box-shadow:         0px 1px 5px rgba(50, 50, 50, 0.65);
	margin:7px;
}

.puppy{
	background:url(http://i.imgur.com/9ZV3OG4.jpg);
}
.puppy{
	background:url(http://i.imgur.com/9ZV3OG4.jpg);
}
.puppy{
	background:url(http://i.imgur.com/9ZV3OG4.jpg);
}
.puppy{
	background:url(http://i.imgur.com/9ZV3OG4.jpg);
}

