@charset "UTF-8";
/* CSS Document */
/* font-family: 'Petit Formal Script', cursive;
font-family: 'Oleo Script', cursive;
font-family: 'Crete Round', serif;
font-family: 'Sansita One', cursive;
font-family: 'Carrois Gothic SC', sans-serif;
*/

html body {
	min-width:320px;
	max-width:1900px;
	width: 100%;
	height: 100%;
	margin: 0 auto;
	padding: 0;
	background:#3E342E url(../imgs/dark-texture.png) repeat left top;
	border-top:#1c120c 7px inset;
	border-bottom:#1c120c 7px inset;
	overflow:visible;
}
.under-layer{
	width:94%;
	height:auto;
	margin:10px auto;
	background:#000000/*url(../imgs/teal-texture.png)*/;
	box-sizing:border-box;
	border-top:	#3E342E 1px solid;
	border-left:	#3E342E 1px dashed;
	border-right:	#3E342E 1px dashed;
}
#header{
	 width: 100%;
	 height: auto;
     margin: 0;
     padding:0 0 20px 0;
	 background:url(../imgs/bg-glow.png) center no-repeat;
	 position:relative;
}
.header-content{
	 width: 70%;
     margin: 0 auto;
     padding: 0;
	 position:relative;
}

#header h1{
	font-family: 'Oleo Script', cursive;
	font-size:40pt;
	color:/*#FFFCF3*/#fffefd;
	text-align:center;
	text-shadow: 2px 1px 1px #462d1d;
	margin: -5px 0px 0px 0px;
	padding:0px;
	
}
#header h2{
	font-family: 'Carrois Gothic SC', sans-serif;
	color:#f8efe3;
	text-shadow:1px 1px #BD7956, 2px 1px #69280b;
	font-size:2.7em;
	line-height:1em;
}
#header h3{
	font-family: 'Petit Formal Script', cursive;
	color:#DBB99E;
	font-size:1em;
}
.column h4{
	font-family: 'Petit Formal Script', cursive;
	color:#AFEFFF;
	font-size:1.4em;
	-webkit-transform: rotate(-15deg);
	-moz-transform: rotate(-15deg);
	-ms-transform: rotate(-15deg);
	-o-transform: rotate(-15deg);
	transform: rotate(-15deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
	float:left;
	position:relative;
	margin: 0px 0px 0px 4px;
}
.middler{
	 width: 99%;
	 height:auto;
     padding: 0 0px 0 0;
	 position:relative;
	 margin:-10px auto;
	 box-sizing:border-box;
  	 -moz-box-sizing:border-box;
  	 -webkit-box-sizing:border-box;
	 -webkit-box-shadow: 0px 0px 16px rgba(22, 9, 0, 0.18);
	 -moz-box-shadow:    0px 0px 16px rgba(22, 9, 0, 0.18);
	 box-shadow:         0px 0px 16px rgba(22, 9, 0, 0.18);
	 overflow: visible;
	 
}
 .content{
	 width:100%;
	 margin: 0 auto;
	 position: relative;
	 padding:10px 0px 10px 0px;
 }
 .art-section{
	 width:94%;
	 margin: 0 7px 0 0;
	 padding:0;
	 position: relative;
	 clear:both;
	 float:right;
	 overflow: visible;
 }
.icon-box {
	width:100%;
	position:relative;
	margin: 5px 0 -57px -15px;
}
.icon-box ul{
	position:relative;
	margin: 0 auto;
}
.icon-box li{
	position:relative;
	display:inline-block;
}

.middler footer{
	width: 100%; 
	height: 36px;
	position:absolute;
	bottom:0px;
}

#footer{
	 width: 100%;
	 height: 100px;
     margin: 20px 0px 0px 0px;
     padding: 0;
     background:#3E342E url(../imgs/dark-texture.png) repeat left top;
	 position:relative;
	 bottom:0px;
	 z-index:-2001;
}
#footer ul{
	width:98%;
	 margin: 0 auto;
	 position:relative;
	 color:#A0907E;
	text-align:center;
	display:inline-block;
	
}
#footer li{
	 display:inline-block;
	 margin: -10px 4px 0px 4px;
}


#footer li a{
	font-family: 'Crete Round', serif;
	color:#5f564f;
	font-size:1.2em;
	text-decoration:none;
	transition: .19s linear;
	-webkit-transition: .19s linear;
	transition-delay: .03s;
	-webkit-transition-delay: .03s; /* Safari */
}
#footer li a:hover{
	color:#f27a59;
	transition: .19s linear;
	-webkit-transition: .19s linear;
	transition-delay: .03s;
	-webkit-transition-delay: .03s; /* Safari */
}

.heart{
	font-size:4em;
	color:#FAC6BE;
	text-shadow: 0px 0px 4px rgba(179, 174, 150, 0.35),1px 1px white, -1px -1px #A87350;
	margin:0 auto;
	width:200px;
	text-align:center;
	position:relative;
	bottom:0px;
}

.text{
	margin:0 auto;
	width:80%;
	position:relative;
	text-align:center;
	padding:10px 0;
}

p {
	font-size:.7em;
}

 h2, h3, p {
	 margin: 0;
     padding: 0;
 }
 .graphic-section{
	 background:#fffefd url(../imgs/texture.png);
	 padding:40px 0px 8px 10px;
	 min-height:270px;
 }
 .fine-art-section{
	 background:#f8f3ee url(../imgs/texture.png);
	 padding:8px 0px 8px 10px;
	 min-height:270px;
 }
 .web-section {
	 background:#f1e9e0 url(../imgs/texture.png);
	 padding:8px 0px 8px 10px;
	 min-height:270px;
 }
 .digital-section{
	 background:#e6dcd3 url(../imgs/texture.png);
	 padding:8px 0px 8px 10px;
	 min-height:270px;
 }
 
.graphic-divider{
	width: 100%; 
	height: 7px;
	position:absolute;
	top:0px;
	background-image:url(../imgs/graphic-divider.png);
	background-repeat:repeat-x;
	margin:0px 0px 0px -10px;
}
.fine-art-divider{
	width: 100%; 
	height: 7px;
	position:absolute;
	top:0px;
	background-image:url(../imgs/stitching.png);
	background-repeat:repeat-x;
	margin:0px 0px 0px -10px;
}
.web-divider{
	width: 100%; 
	height: 7px;
	position:absolute;
	top:0px;
	background-image:url(../imgs/stitching.png);
	background-repeat:repeat-x;
	margin:0px 0px 0px -10px;
}
.digital-divider{
	width: 100%; 
	height: 7px;
	position:absolute;
	top:0px;
	background-image:url(../imgs/stitching.png);
	background-repeat:repeat-x;
	margin:0px 0px 0px -10px;
	
}
.footer-divider{
	width: 100%; 
	height: 7px;
	position:absolute;
	bottom:-6px;
	background-image:url(../imgs/footer-divider2.png);
	background-repeat:repeat-x;
	z-index:1001;
	margin:0px 0px 0px -10px;
}