@charset "UTF-8";

.title {
	position:absolute;
	float:left;
	top:50px;
	left:-60px;
}
.title h3 {
	font-family: 'Oleo Script', cursive;
	font-size:5em;
	color:#ffffff;
	opacity:.2;
	text-align:center;
	text-shadow: 0px 0px 4px rgba(179, 174, 150, 0.35),1px 1px white, -1px -1px #A87350;
	-webkit-transform: rotate(-90deg);
	-moz-transform: rotate(-90deg);
	-ms-transform: rotate(-90deg);
	-o-transform: rotate(-90deg);
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
