
header{
	font-weight: bold;
	font-size: 42pt;
	height: 80px;
	border-bottom: solid #DDDDDD 2px;
	width: 100%;
}
body{
	background-color: #ffffff;
	padding: 0;
	min-height: 0px;
	width:850px;
	margin: 0px 35px 0px 35px;
}
h1 {
	margin-top: 20px;
	float: left;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-size: 48px;
}
header .links a{
	float: right;
	font-size: 14pt;
	color: #000000;
	text-decoration: none;
	margin: 0px 10px 0px 10px;
	font-family: 'Ariel Black', helvetica, Sans-serif;
}
#content {
	width:850px;
	position: relative;
	height: 100%;
	
}
.left-column{
	position:absolute;
 	top:0;
 	left:0;
 	width:200px;
}
ul {
	list-style:none;
	margin-left: 0;
	padding-left: 0;
	font-weight: bold;
}
li {
	padding-bottom:5px;

}
.right-column{
	float: right;
	width: 620px;
	/*height: 100%;*/
	position:absolute;
 	top:10px;
 	right:0;
}
.right-column .entry{
	margin-bottom: 20px;
	/*float: left;*/
	clear: both;
 	width:620px;
	
}
.entry .date {
	font-size: 11pt;
	float:left;
}
h2 {
	font-size: 20pt;
	float: left;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-weight: bold;
	clear:both;
	margin-top: -4px;
}
.last-heading {
	font-size: 24pt;
	float: left;
	font-family: 'Carrois Gothic SC', sans-serif;
	font-weight: bold;
	clear:both;
	margin-top: -4px;
}
#footer{
	height: 50px;
	border-top: solid #DDDDDD 2px;
	position: absolute;
	bottom:30px;
	width: 850px;
}
footer{
	font-weight: bold;
	font-size: 12pt;

}
p {
	font-size: 12pt;
	float: left;
	font-family: 'Ariel Black', helvetica, Sans-serif;
	clear:both;
}
